<div class="container">
  <!-- serverCreated es un evento personalizado -->
  <!-- el parametro $event sirve para capturar datos cuando se ejecuta el metodo. Puede ser un objeto que nos brinde informacion sobre el servidor, como el nombre y el contenido -->
  <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- Custom property binding -->
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement">

        <!-- Si se agrega contenido entre los tags de un component, por default Angular lo quitará del DOM. Para solucionarlo, debe agregarse una directiva (<ng-content>) en el lugar del componente que iria este contenido -->
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
